.intro {
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    background-color: hsla(206, 43%, 38%, 1);
    background-image:
      radial-gradient(at 71% 0%, hsla(187, 100%, 3%, 1) 0px, transparent 50%),
      radial-gradient(at 43% 0%, hsla(201, 58%, 27%, 1) 0px, transparent 50%),
      radial-gradient(at 93% 7%, hsla(47, 0%, 0%, 1) 0px, transparent 50%),
      radial-gradient(at 56% 51%, hsla(212, 100%, 55%, 1) 0px, transparent 50%),
      radial-gradient(at 55% 93%, hsla(193, 35%, 43%, 1) 0px, transparent 50%),
      radial-gradient(at 48% 96%, hsla(9, 0%, 0%, 1) 0px, transparent 50%),
      radial-gradient(at 63% 96%, hsla(91, 0%, 0%, 1) 0px, transparent 50%),
      radial-gradient(at 12% 7%, hsla(201, 0%, 0%, 1) 0px, transparent 50%);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    padding: .2em;
    opacity: 0;
    font-size: 8em;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 0;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* MOBLIE VIEW */
@media (max-width: 428px) {
    .logo {
        font-size: 2em;
    }
}