/*welcome message style */
.home-page {
  margin-top: 2em;
  height: 45em;
}

.welcome-message {
  margin-left: .4em;
  margin-top: 0;
  font-size: 3em;
  height: 1.3em;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.overall-me {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 1em;
  max-width: 50em;
}

.description {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.3em;
  color: white;
}

.special-words {
  color: #9bccf7;
  font-weight: bolder;
}

.mail-icon {
  padding-right: 1em;
  padding-top: .1em;
  margin-top: .1em;
}

.email-button {
  display: inline-block;
  border: 2px solid #9bccf7;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  transition: background-color 0.3s;
  margin-left: 1em;
}

.email-button:hover {
  background-color: #9bccf7;
  color: #000000;
}


/*moblie css */
@media (max-width: 428px) {
  .welcome-message {
    font-size: 1.6em;
    text-align: center;
    margin-top: .3em;
  }

  .description {
    text-align: center;
    font-size: 1.2em;
  }


}