#contact {
  font-weight: bold;
  font-size: 48px;
  margin-top: 1.5em;
  margin-left: .4em;
  color: #ffffff;
}

.list-to-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4em;
}

.list-to-contact-container {
  display: flex;
  justify-content: center;
}

.contact-icon {
  transition: transform 0.2s ease-in-out;
}

.contact-icon:hover {
  transform: translateY(-10px) scale(1.2);
}

.contact-title {
  color: white;
}

.description-p {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
  color: #bcbcbc;
}

.credits {
  color: white;
  text-align: center;
  font-size: 10px;
}

/* style for mobile */
@media (max-width: 428px) {
  #contact {
    font-size: 1.7em;
    margin-bottom: 1em;
    margin-left: .5em;
  }

  .contact-title {
    font-size: 10px;
  }

  .description-contact {
    color: white;
    width: 22em;
    margin-left: 1em;
  }

  .credits {
    font-size: 1em;
    color: #bcbcbc;
  }
}