@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

body{
  background: #D4D3D3;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Urbanist', sans-serif;
};