/*navbar style */
.navbar-container {
  display: flex;
  align-items: flex-start;
  height: 200px;
  position: fluid;
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: auto;
}

.nav-item {
  padding: 0 1em;
  font-size: 2em;
  color: #bcbcbc;
  margin: .1em 1em;
  margin-top: 1.5em;
}

.nav-tabs a {
  text-decoration: none;
  position: relative;
}

.nav-item:hover {
  color: #29452f;
}

.nav-tabs a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #29452f;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-tabs a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.icons {
  color: #bcbcbc;
  height: 2em;
  width: 2em;
  padding: 0 1em;
}

.icons:hover {
  color: #29452f;
}

/*hello message */

/*Iam message style */
.Iam {
  font: 40px/50px Urbanist, sans-serif;
  font-weight: bold;
  color: #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
}

.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}

.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}
.Iam .innerIam {
  display: inline-block;
  color: #29452f;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}

@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
