/*navbar style */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fluid;
    top: 20px;
}
.nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-item {
    padding: 0 1em;
    font-size: 2.2em;
    color: black;
    margin: .1em 1em;
}
.nav-tabs a {
    text-decoration: none;
    position: relative;
  }
  .nav-item:hover {
    color: #990000;
  }
  .nav-tabs a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #990000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  .nav-tabs a:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

 .dark-mode .nav-item{
  color: white;
 }
 .dark-mode .nav-item:hover{
  color: #FFA559;
 }
 .dark-mode .nav-tabs a::after {
  background-color: #FFA559;
 }

 /* style for mobile devices */

 @media (max-width: 428px) {
  .navbar-normal-state{
    position: relative;
    display: flex;
    flex-direction: row;
  }

  /*greeting message style */
  .navbar-greeting{
    font-size: 23px;
  }
  .Iam{
    margin-top: 1.1em;
    margin-left: .35em;
  }
  .innerIam{
    font-size: 23px;
  }

  /* nav-bar button style */
  .navbar-container {
    display: flex;
    justify-content: flex-start;
    margin:0;
  }

  .navbar-menu{
    height: 2em;
    width: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: .3em;
}

.navbar-bar{
    width: 2em;
    height: .4em;
    background-color: #990000;
    border-radius: 0.4em;
}
.dark-mode .navbar-bar {
  background-color: #FF8B13;
}
/*clicked */
.navbar-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(.5em, .5em);
    transition: ease-out 0.5s;
}
.navbar-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}
.navbar-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-.65em, .65em);
    transition: ease-out 0.5s;
}
/*unclicked*/
.navbar-bar.unclicked{
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
  
  /*nav-bar elements on click */
  .navbar-mobile-menu{
    position: absolute;
    top: 20%;
    flex-direction: column;
    z-index: 1;
    transition: height 0.3s ease-in-out;
  }
  .nav-item {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding-bottom: .5em;
    text-decoration: none;

  }
  .nav-item:hover{
    color: black;
  }
  .nav-tabs a::after{
    transform: none;
    transition: none;
  }
  .nav-tabs a:hover::after {
    transform: none;
  }

}